<div class="main-container">
    <h1>Welcome to Noter administration</h1>
    <div class="admin-stats">
        <h2>Noter in numbers</h2>
        <p>Total number of notes created: <%= @total_notes_count %></p>
        <p>Total number of users: <%= @total_users_count %></p>
        <p>Total number of categories created: <%= @total_categories_count %></p>
    </div>
    
</div>


