// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.admin {
    .main-container {
        
        h1 {
            text-align: center;
            font-weight: normal;
            color: tomato;
        }
    }

    .admin-stats {
        margin-top: 60px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid coral;
        border-radius: 5px;
        box-shadow: 5px 5px 5px #ccc;
        padding: 10px;
        p {
            font-family: 'Segoe UI', sans-serif;
            font-size: large;
        }
        h2 {
            text-align: center;
            font-weight: normal;
        }
    }
}
