/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .header-div {
    position: relative;
    padding: 5px;
     a {
         color: tomato;
         font-size: xx-large;
         text-decoration: none;
         font-weight: bold;
         float: left;
    }
    .logout-div {
        position: absolute;
        top: 3px;
        right: 10px;
        a {
            font-size: medium;
            font-weight: normal;
            font-family: sans-serif;
            margin-left: 10px;
        }
        .dropdown {
            position: relative;
            display: inline-block;
            margin-left: 30px;
            cursor: pointer;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            min-width: 130px;
            z-index: 1;
            right: 1px;
            margin-top: 1px;
            box-shadow: 2px 2px 5px #ccc;
            border: 1px solid #ccc;
            border-radius: 5px;
                a {
                    text-decoration: none;
                    display: block;
                    padding: 4px;
                    text-align: left;
                    margin-left: 0;
                    font-size: 1.02em;
                    // border: 1px solid black;
                }
            
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
         
    }
    .search-notes {
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        input {
            font-size: medium;
            padding: 8px 10px;
            border-radius: 5px;
            border: 1px solid #aaa;
            width: 300px;
        }
        .btn-search {
            background-color: coral;
            color: white;
            border-radius: 5px;
            border-style: none;
            padding: 9px 8px;
            cursor: pointer;
        }
    }
 }

 .cat-list-container {
    margin-right: 20px;
    border: 1px solid darkgray;
    float: left;
    padding: 10px;
    border-radius: 5px;
    width: auto;
    box-shadow: 2px 2px #DDDDDD;
    ul {
        text-align: left;
        list-style-type: none;
        padding: 5px;
    }
    a {
        text-decoration: none;
        color: dodgerblue;
    }
}

body {
    font-family: 'Segoe UI', Verdana, sans-serif;
}
.main-container {
    margin-top: 20px;
}



 
