// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.categories {
    
    .form-div {
        border: 1px solid coral;
        border-radius: 5px;
        box-shadow: 0 5px 8px #ccc,0 5px 8px #ccc;
        margin-left: auto;
        margin-right: auto;
        width: 30%;

        h1 {
            color: tomato;
            text-align: center;
            font-family: 'Segoe UI', sans-serif;
            font-weight: normal;
            margin-bottom: 60px;
        }

        .field {
            margin-right: auto;
            margin-left: auto;
            width: 70%;
        
            input {
                padding: 8px 10px;
                border-radius: 5px;
                border: 1px solid #aaa;
                width: 100%;
                box-sizing: border-box;
                font-size: medium;
                
            }

            input:focus {
                border: 1px solid coral;
                
            }
        }

        .actions {
            margin-left: auto;
            margin-right: auto;
            width: 70%;
            input[type=submit] {
                background-color: mediumseagreen;
                color: white;
                padding: 6px 10px;
                border-style: none;
                border-radius: 5px;
                cursor: pointer;
                height: 35px;
                font-size: medium;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }

    .notes-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
    }
    div.note {
        
        border-style: solid;
        border-width: 1px 1px 1px 5px;
        border-color: darkgray darkgray darkgray coral;
        border-radius: 5px;
        box-shadow: 2px 2px #DDDDDD;
        margin-bottom: 10px;
        // width: 35%;
        div.note-details {
            padding: 10px;
        }
        ul.note-actions {
            list-style-type: none;
            overflow: hidden;
            margin: 0px;
            padding: 0px;
            
            li {
                float: left;
                margin: 5px;
            }
        }
        a {
            text-decoration: none;
            color: cornflowerblue;
            
        }
        a:hover {
            background-color: white;
        }
        a.note-link {
            color: black;
        }
        
    }
    div.note:hover {
        background-color: antiquewhite;
    }
    
    .heading {
        color: tomato;
        text-align: center;
    }

    .no-notes-div {
        p {
            text-align: center;
            font-weight: bold;
            font-size: large;
        }
    }
}
