// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.notes {
    
    
    div.note {
        
        border-style: solid;
        border-width: 1px 1px 1px 5px;
        border-color: darkgray darkgray darkgray coral;
        border-radius: 5px;
        
        margin-bottom: 10px;
        width: 35%;
        div.note-details {
            padding: 10px;
        }
        ul.note-actions {
            list-style-type: none;
            overflow: hidden;
            margin: 0px;
            padding: 0px;
            
            li {
                float: left;
                margin: 5px;
            }
        }
        a {
            text-decoration: none;
            color: cornflowerblue;
            
        }
        a:hover {
            background-color: white;
        }
        a.note-link {
            color: black;
        }
        
    }
    div.note:hover {
        background-color: antiquewhite;
    }
    
    

    .heading {
        color: tomato;
    }
}
