// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.notes {

    .notes-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
    }
    div.note {
        
        border-style: solid;
        border-width: 1px 1px 1px 5px;
        border-color: darkgray darkgray darkgray coral;
        border-radius: 5px;
        
        margin-bottom: 10px;
        // width: 35%;
        div.note-details {
            padding: 10px;
        }
        ul.note-actions {
            list-style-type: none;
            overflow: hidden;
            margin: 0px;
            padding: 0px;
            
            li {
                float: left;
                margin: 5px;
            }
        }
        a {
            text-decoration: none;
            color: cornflowerblue;
            
        }
        a:hover {
            background-color: white;
        }
        a.note-link {
            color: black;
        }
        
    }
    div.note:hover {
        background-color: antiquewhite;
    }
    
    .heading {
        color: tomato;
        text-align: center;
    }

    .note-form {
        margin: 10px;
        
    }

    .form-div {
        display: flex;
        justify-content: center;
    }

    .note-form-field {
        margin: 5px;
        font-size: medium;
    }

    .note-category-select {
        margin-top: 5px;
        width: 20%;
        font-size: medium;
    }

    .btn-submit {
        width: auto;
        height: 30px;
        background-color: dodgerblue;
        color: white;
        border-radius: 4px;
        border-style: none;
        font-size: medium;
    }

    .show-note {
        width: 40%;
        margin-left:auto;
        margin-right: auto;
        border: 1px solid coral;
        border-radius: 5px;
    }
    .show-note-actions {
        margin-left: auto;
        margin-right: auto;
        width: 20%;
    }

    .show-note-detail {
        margin: 10px;
    }
}
