.header-div-plain {
    // border: 1px solid black;
    padding: 15px;
    // height: 60px;
    
    a {
        color: tomato;
        font-size: xx-large;
        text-decoration: none;
        font-weight: bold;
        // float: left;
        display: inline-block;
        box-sizing: border-box;
   }
}