<p id="notice"><%= notice %></p>

  <h1 class="heading">Notes in <%= @category.name %></h1>
  
  <% if @notes.size == 0 %>
        <div class="no-notes-div">
          <p>No notes to show in <%= @category.name %></p>
        </div>
  <% end %>
  <%= render "shared/notelist"%>


